* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

body {
    background: #f5f5f5 !important;
    direction: rtl;
    overflow-x: hidden;
    font-family: IRANSans !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: IRANSans;
}

a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,span,div{
    font-family: IRANSans;
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Black.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

.pr{
    float: right !important;
}

.pl{
    float: left !important;
}

.container-main{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.h-main-row{
    margin: 15px 0;
    display: block;
    float: right;
    width: 100%;
}

/* header------------------------- */
header.header-main{
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 999;
    position: relative;
    float: right;
}

.header-logo{
    width: auto;
    line-height: 3;
}

.header-search .header-search-box{
    position: relative;
    box-shadow: 1px 2px 6px 1px rgb(72 72 72 / 15%);
    width: 100%;
    border-radius: 20px;
}

.header-search .header-search-box .form-search .header-search-input{
    width: 100%;
    background: transparent;
    font-size: 12px;
    height: 48px;
    line-height: 50px;
    padding: 0 15px 0 160px;
    transition: .2s;
    color: #666;
    outline: none;
    display: block;
    position: relative;
    overflow: hidden;
}

.header-search .header-search-box .form-search .header-search-input::placeholder{
    color: #adabab;
}

.header-search .header-search-box .form-search .input-bg{
    background: #f9f6f6;
}

.header-search .header-search-box .form-search .action-btns{
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-search .header-search-box .form-search .action-btns .btn-search{
    width: 55px;
    height: 48px;
    line-height: 42px;
    border: none;
    display: block;
    outline: none;
    background: #fff;
    z-index: 999;
    opacity: 0.8;
    border-radius: 20px 0 0 20px;
    float: left;
}

.header-search .header-search-box .form-search .action-btns .btn-search i{
    color:#4a4a4a !important;
    font-size: 20px;
    margin: auto;
    display: block;
    z-index: 1;
}

.header-search .header-search-box .form-search .action-btns .search-filter{
    float: left;
}

.header-search .header-search-box .form-search .action-btns .search-filter .nice-select{
    font-size: 12px;
    height: 50px;
    line-height: 45px;
    border-right: none;
    background: transparent;
    border-radius: 0;
    padding-right: 18px;
    padding-left: 30px;
    border: none;
}

.header-search .header-search-box .form-search .action-btns .search-filter .nice-select::after{
    left: 12px;
    right: auto;
}

.header-search .header-search-box .form-search .action-btns .search-filter .nice-select.right .list{
    width: 100%;
    height: 160px;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
    box-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
}

.header-search .header-search-box .form-search .action-btns .search-filter .nice-select.right .list li{
    text-align: right;
    padding-right: 10px;
    padding-left: 15px;
}

.header-search .header-search-box .form-search .btn-bg{
    background: #f35a7e !important;
    opacity: 0.8 !important;
}

.account-box{
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: #FFF;
    color: #555!important;
    line-height: 44px;
    padding: 5px 10px 5px 43px;
    float: left;
    margin-top: 0;
    font-size: 1.03em;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.account-box span.icon-account{
    width: 43px;
    height: 43px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    float: left;
}

.account-box span.icon-account img{
    max-width: 100%;
}

.account-box span.title-account{
    float: right;
    font-size: 14px;
    margin-left: 20px;
    color: #8a8a8a;
    font-weight: 500;
}

.account-box .dropdown-menu{
    display: block;
    box-shadow: 0 10px 30px 0 rgba(31, 45, 61, .1);
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: 15px;
    top: 45px;
    text-align: right;
    background: #fff;
    text-align: center;
    transition: all 0.1s ease-in;
    opacity: 0.01;
    visibility: hidden;
}

.account-box .nav-account:hover .dropdown-menu{
    transition: all 0.1s ease-in;
    opacity: 1;
    visibility: visible;
}

.account-box .dropdown-menu ul.account-uls li.account-item{
    display: block;
    line-height: 30px;
}

.account-box .dropdown-menu ul.account-uls li.account-item a.account-link{
    font-size: 12px;
    color: #666666;
    width: 100%;
    border-radius: 50px;
    display: block;
    transition: .2s;
    font-weight: 400;
}

.account-box .dropdown-menu ul.account-uls li.account-item:hover a.account-link {
    background: #eee;
    color: #444;
    transition: .2s;
}


/* main-menu--------------------- */
.header-main-nav {
    width: 100%;
    height: 60px;
    position: relative;
    line-height: 55px;
    float: right;
    background-color: #fdfdfd;
    margin-top: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #f5f5f5;
}

.header-main-nav ul.menu-ul{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 0;
}

.header-main-nav ul.menu-ul li.menu-item{
    padding: 0 6px;
    display: inline-block;
}

.header-main-nav ul.menu-ul li.menu-item a.current-link-menu{
    color: #616161;
    font-size: 14px;
    transition: .2s;
    position: relative;
    padding: 22px 0;
}

.header-main-nav ul.menu-ul li.menu-item:hover a.current-link-menu{
    color: #06d0e8;
    transition: .2s;
}

.header-main-nav ul.menu-ul li.menu-item a.current-link-menu::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #06d0e8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-main-nav ul.menu-ul li.menu-item a.category-link::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ff828b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-main-nav ul.menu-ul li.menu-item:hover a.category-link{
    color: #ff828b;
    transition: .2s;
}

.header-main-nav ul.menu-ul li.menu-item:hover > a.current-link-menu::before {
    width: 100%;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu{
    width: 1318px !important;
    margin: 0;
    list-style: none;
    float: right;
    position: absolute;
    right: 15px;
    z-index: 9999;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    transition: all .2s,width 0s;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    border: 1px solid #ececec;
    height: auto;
    overflow: hidden;
    transition: all .2s ease-out;
    opacity: 0;
    visibility: hidden;
    display: none;
    margin-top: 5px;
}

.header-main-nav ul.menu-ul li.menu-item:hover > ul.is-mega-menu{
    transition: all .2s ease-out;
    opacity: 1;
    visibility: visible;
    display: block;
}


.header-main-nav ul.menu-ul li[data-id]{
    position: static;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item{
    width: 20%;
    float: right;
    position: relative;
    text-align: right;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item a.mega-menu-link{
    color: #666;
    font-weight: 500;
    font-size: 14px;
    margin-right: 15px;
    transition: all .2s ease-out;
    padding: 5px 0;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item a.mega-menu-link:hover{
    color: #06d0e8;
    border-bottom: 1px dashed #06d0e8;
    transition: all .2s ease-out;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item > ul{
    width: 100%;
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    margin: 0!important;
    box-shadow: none;
    background: transparent;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item > ul li.menu-mega-item-three{
    position: relative;
    text-align: right;
    width: 100%;
    display: block;
    line-height: 32px;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item > ul li.menu-mega-item-three a{
    color: #666666;
    font-size: 14px;
    padding: 0 30px;
    transition: all .4s ease-out;
    font-weight: 300;
    display: inline-block;
}

.header-main-nav ul.menu-ul li.menu-item ul.is-mega-menu li.menu-mega-item > ul li.menu-mega-item-three:hover a{
    color: #06d0e8;
    padding: 0 40px;
    transition: all .4s ease-out;
    font-weight: 600;
}

.bg-image{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
}

.bg-image img{
    max-width: 100%;
    box-shadow: none !important;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small{
    width: 220px !important;
    margin: 0;
    list-style: none;
    float: right;
    position: absolute;
    z-index: 9999;
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    transition: all .2s,width 0s;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    border: 1px solid #ececec;
    height: auto;
    transition: all .2s ease-out;
    opacity: 0;
    visibility: hidden;
    margin-top: 5px;
}

.header-main-nav ul.menu-ul li:hover ul.is-mega-menu-small{
    transition: all .2s ease-out;
    opacity: 1;
    visibility: visible;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li{
    position: relative;
    text-align: right;
    width: 100%;
    display: block;
    line-height: 35px;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li a{
    color: #666666;
    font-size: 14px;
    padding: 0 25px;
    transition: all .3s ease-out;
    font-weight: 300;
    display: block;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li:hover > a{
    color: #06d0e8;
    padding-right: 35px;
    transition: all .3s ease-out;
    font-weight: 600;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li > ul.is-mega-menu-small-three{
    width: 220px !important;
    margin: 0;
    list-style: none;
    float: right;
    position: absolute;
    right: 219px;
    top: 0;
    z-index: 9999;
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    transition: all .2s,width 0s;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    border: 1px solid #ececec;
    height: auto;
    overflow: hidden;
    transition: all 300ms ease-in;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li:hover ul.is-mega-menu-small-three{
    transition: all 300ms ease-out;
    opacity: 1;
    visibility: visible;
    display: block;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li a i{
    float: left;
    line-height: 40px;
    transition: all .3s ease;
}

.header-main-nav ul.menu-ul li.menu-item > ul.is-mega-menu-small li:hover i{
    color: #06d0e8;
    transform: rotate(-45deg);
    transition: all .3s ease-out;
}

.header-main-nav .divider-space-card{
    width: 180px;
    height: 50px;
    float: left;
    clear: both;
}

.header-main-nav .divider-space-card .header-cart-basket{
    width: 100%;
    position: relative;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box{
    height: 50px;
    background: #00bfd6;
    color: #fff;
    padding: 0;
    border-radius: 20px;
    width: 100%;
    display: block;
    margin-top: 4px;
    line-height: 50px;
    overflow: hidden;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box-bg{
    background-color: #f35a7e;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box span.icon-cart{
    float: right;
    text-align: center;
    margin: 0 10px;
    font-size: 25px;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box span.title-cart{
    font-size: 14px;
    display: block;
    z-index: 1;
    position: relative;
    text-align: right;
    line-height: 25px;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box span.price-cart{
    display: block;
    z-index: 1;
    position: relative;
    text-align: right;
    line-height: 2;
    font-size: 12px;
    opacity: 0.8;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box span.count-cart{
    width: 20px;
    height: 20px;
    background: #fff;
    color: #00bfd6;
    position: absolute;
    left: 10px;
    line-height: 20px;
    text-align: center;
    top: 10px;
    border-radius: 50px;
    font-size: 12px;
}

.header-main-nav .divider-space-card .header-cart-basket .cart-basket-box span.count-bg{
    color: #f35a7e;
}


.header-main-nav .divider-space-card .header-cart-basket .widget-shopping-cart{
    width: 250px !important;
    margin: 0;
    list-style: none;
    float: right;
    position: absolute;
    z-index: 9999;
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    transition: all .2s,width 0s;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
    border: 1px solid #ececec;
    height: auto;
    left: 0;
    top: 50px;
    overflow: hidden;
    transition: all .2s ease-out;
    opacity: 0;
    visibility: hidden;
    margin-top: 5px;
}

.header-main-nav .divider-space-card .header-cart-basket:hover .widget-shopping-cart{
    transition: all .2s ease-out;
    opacity: 1;
    visibility: visible;
}

.header-main-nav .divider-space-card .header-cart-basket .widget-shopping-cart .widget-shopping-cart-content ul.product-list-widget li.mini-cart-item{
    padding: 10px 70px 20px 10px;
    min-height: 70px;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

.header-main-nav .divider-space-card .header-cart-basket .widget-shopping-cart .widget-shopping-cart-content ul.product-list-widget li.mini-cart-item .mini-cart-item-content{
    cursor: pointer;
    line-height: 1;
    display: block;
}

.header-main-nav .divider-space-card .header-cart-basket .widget-shopping-cart .widget-shopping-cart-content ul.product-list-widget li.mini-cart-item a.mini-cart-item-image{
    width: 45px;
    height: 45px;
    float: right;
    border-radius: 50px;
    position: absolute;
    right: 15px;
    top: auto;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.header-main-nav .divider-space-card .header-cart-basket .widget-shopping-cart .widget-shopping-cart-content ul.product-list-widget li.mini-cart-item a.mini-cart-item-close{
    width: 55px;
    height: 55px;
    float: right;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 25px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;
    background: #eee;
    z-index: 99;
    color: #666;
    font-size: 25px;
    display: none;
    transition: all 300ms ease;
}